In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_excel("Final Dataset.xlsx")
data.columns

In [ ]:
columns = data.columns

In [ ]:
for col in columns:
    print(col)

In [ ]:
needed_columns1 = ['UNITID','INSTNM','CITY','STABBR','ZIP','INSTURL','NPCURL','REGION','LOCALE','LOCALE2',
                  'LATITUDE','LONGITUDE','HBCU','PBI','ANNHI','TRIBAL','AANAPII','HSI','NANTI','MENONLY',
                  'WOMENONLY','ADM_RATE','ACTCMMID','SAT_AVG','CURROPER','COSTT4_A','COSTT4_P','TUITIONFEE_IN',
                  'TUITIONFEE_OUT','TUITIONFEE_PROG','TUITFTE','PFTFAC','PCTPELL','DEBT_MDN','FEMALE_DEBT_MDN',
                  'MALE_DEBT_MDN','COUNT_ED','AGE_ENTRY','FEMALE','MARRIED','DEPENDENT','VETERAN','FIRST_GEN',
                  'FAMINC','MD_FAMINC','MEDIAN_HH_INC','COUNT_NWNE_P10','COUNT_WNE_P10','MD_EARN_WNE_P10',
                  'SD_EARN_WNE_P10','DEBT_MDN_SUPP','GRAD_DEBT_MDN_SUPP','ICLEVEL','UGDS_MEN','UGDS_WOMEN']

In [ ]:
newData1 = data.loc[:,needed_columns1]
newData1.columns

In [17]:
needed_columns2 = ['UNITID','INSTNM','CITY','STABBR','ZIP','INSTURL','NPCURL','REGION','LOCALE','LOCALE2',
                  'LATITUDE','LONGITUDE','HBCU','PBI','ANNHI','TRIBAL','AANAPII','HSI','NANTI','MENONLY',
                  'WOMENONLY','ADM_RATE','ACTCMMID','SAT_AVG','CURROPER','COSTT4_A','COSTT4_P','TUITIONFEE_IN',
                  'TUITIONFEE_OUT','TUITIONFEE_PROG','TUITFTE','PFTFAC','PCTPELL','DEBT_MDN','FEMALE_DEBT_MDN',
                  'MALE_DEBT_MDN','COUNT_ED','AGE_ENTRY','FEMALE','MARRIED','DEPENDENT','VETERAN','FIRST_GEN',
                  'FAMINC','MD_FAMINC','MEDIAN_HH_INC','COUNT_NWNE_P6','COUNT_WNE_P6','MN_EARN_WNE_P6',
                  'SD_EARN_WNE_P6','DEBT_MDN_SUPP','GRAD_DEBT_MDN_SUPP','ICLEVEL','UGDS_MEN','UGDS_WOMEN']

In [ ]:
newData2 = data.loc[:,needed_columns2]
newData2.columns

In [ ]:
newData1.to_csv("Cleaned_median_salary.csv")
newData2.to_csv("Cleaned_mean_salary.csv")

In [ ]:
newData1.to_excel("Cleaned_median_salary.xlsx")
newData2.to_excel("Cleaned_mean_salary.xlsx")

In [ ]:
def convertToFloat(data, column):
    data.loc[:,column] = data.loc[:,column].replace("PrivacySuppressed", None)
    data.loc[:,column] = pd.to_numeric(data.loc[:,column])
    return data

In [ ]:
newData2['VETERAN'] = newData2['VETERAN'].replace("PrivacySuppressed", None)

In [ ]:
newData2.loc[0,'VETERAN'] = None
newData2['VETERAN'] = pd.to_numeric(newData2['VETERAN'])

In [ ]:
cols = ['MN_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP', 'DEBT_MDN_SUPP', 'SD_EARN_WNE_P10','COUNT_WNE_P10','COUNT_NWNE_P10',
        'AGE_ENTRY', 'FEMALE', 'MARRIED', 'DEPENDENT', 'VETERAN', 'FIRST_GEN', 'FAMINC','DEBT_MDN', 'FEMALE_DEBT_MDN', 
        'MALE_DEBT_MDN']
for col in cols:
    print(col)
    newData2 = convertToFloat(newData2, col)

In [ ]:
newData2.to_excel("Cleaned_mean_salary.xlsx")

In [ ]:
# filling null values with mean and mode as required
def handleNulls(data):
    for col in data.columns:
        if(data[col].dtype == 'object'):
            print("Replacing NaNs in ", col, " with mode")
            data[col] = data[col].fillna(data[col].value_counts().index[0])
        else:
            print("Replacing NaNs in ", col, " with mean")
            data[col] = data[col].fillna(data[col].mean())
    return data

# feature normalization function
def feature_normalization(X):
    n = X.shape[1]
    X_norm = X
    X_norm = pd.DataFrame(X_norm)
    mu = np.zeros(n)
    sigma = np.zeros(n)
    
    for i in range(n):
        mu[i] = np.mean(X_norm.iloc[:,i])
        sigma[i] = np.std(X_norm.iloc[:, i])
        X_norm.iloc[:, i] = (X_norm.iloc[:,i] - mu[i])/sigma[i]
        
    return X_norm, mu, sigma

# code to normalize numerical variables and one hot encoding of categorical variables
def cleanData(X):
    
    # Taking out numerical columns and normalizing them
    numericColumns = pd.DataFrame(X.select_dtypes(exclude='object'))
    numericColumns, nmu, nsigma = feature_normalization(numericColumns)
    
    # Taking out categorical columns and applying one hot encoding techniques
    categoricalColumns = pd.DataFrame(X.select_dtypes(exclude = ['int64','float64']))
    for col in categoricalColumns.columns:
        dfname = pd.DataFrame(categoricalColumns[col])
        dfname = pd.get_dummies(dfname,prefix=[col])
        categoricalColumns = categoricalColumns.join(dfname)
    categoricalColumns = categoricalColumns.select_dtypes(exclude= 'object')
    
    # Merging the cleaned numerical and categorical columns back together
    cleanedX = numericColumns
    for col in categoricalColumns:
        cleanedX[col] = categoricalColumns[col]
    
    return cleanedX

In [ ]:
features = ['UNITID','INSTNM','CITY','STABBR','ZIP','INSTURL','NPCURL','REGION','LOCALE','LOCALE2',
                  'LATITUDE','LONGITUDE','HBCU','PBI','ANNHI','TRIBAL','AANAPII','HSI','NANTI','MENONLY',
                  'WOMENONLY','ADM_RATE','ACTCMMID','SAT_AVG','CURROPER','COSTT4_A','COSTT4_P','TUITIONFEE_IN',
                  'TUITIONFEE_OUT','TUITIONFEE_PROG','TUITFTE','PFTFAC','PCTPELL','DEBT_MDN','FEMALE_DEBT_MDN',
                  'MALE_DEBT_MDN','COUNT_ED','AGE_ENTRY','FEMALE','MARRIED','DEPENDENT','VETERAN','FIRST_GEN',
                  'FAMINC','MD_FAMINC','MEDIAN_HH_INC','COUNT_NWNE_P10','COUNT_WNE_P10','SD_EARN_WNE_P10',
                  'DEBT_MDN_SUPP','GRAD_DEBT_MDN_SUPP','ICLEVEL','UGDS_MEN','UGDS_WOMEN']

target_var = ['MN_EARN_WNE_P10']

In [ ]:
X = newData2.loc[:,features]
y = newData2.loc[:,target_var]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(X_train, y_train)

In [3]:
data11_12 = pd.read_csv("MERGED2011_12_PP.csv")

In [4]:
data10_11 = pd.read_csv("MERGED2010_11_PP.csv")

/Users/dhivyaslh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,6,1461,1561,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data11_12.dtypes

UNITID                          int64
OPEID                           int64
OPEID6                          int64
INSTNM                         object
CITY                           object
STABBR                         object
ZIP                            object
ACCREDAGENCY                  float64
INSTURL                       float64
NPCURL                        float64
SCH_DEG                       float64
HCM2                          float64
MAIN                            int64
NUMBRANCH                       int64
PREDDEG                         int64
HIGHDEG                         int64
CONTROL                         int64
ST_FIPS                       float64
REGION                        float64
LOCALE                        float64
LOCALE2                       float64
LATITUDE                      float64
LONGITUDE                     float64
CCBASIC                       float64
CCUGPROF                      float64
CCSIZSET                      float64
HBCU                          float64
PBI                           float64
ANNHI                         float64
TRIBAL                        float64
                               ...
OMAWDP6_PTNFT_POOLED          float64
OMACHT8_PTNFT_POOLED          float64
OMAWDP8_PTNFT_POOLED          float64
OMENRYP8_PTNFT_POOLED         float64
OMENRAP8_PTNFT_POOLED         float64
OMENRUP8_PTNFT_POOLED         float64
poolyrsOM_FTFT                float64
poolyrsOM_PTFT                float64
poolyrsOM_FTNFT               float64
poolyrsOM_PTNFT               float64
OMAWDP6_FTFT_POOLED_SUPP      float64
OMAWDP8_FTFT_POOLED_SUPP      float64
OMENRYP8_FTFT_POOLED_SUPP     float64
OMENRAP8_FTFT_POOLED_SUPP     float64
OMENRUP8_FTFT_POOLED_SUPP     float64
OMAWDP6_PTFT_POOLED_SUPP      float64
OMAWDP8_PTFT_POOLED_SUPP      float64
OMENRYP8_PTFT_POOLED_SUPP     float64
OMENRAP8_PTFT_POOLED_SUPP     float64
OMENRUP8_PTFT_POOLED_SUPP     float64
OMAWDP6_FTNFT_POOLED_SUPP     float64
OMAWDP8_FTNFT_POOLED_SUPP     float64
OMENRYP8_FTNFT_POOLED_SUPP    float64
OMENRAP8_FTNFT_POOLED_SUPP    float64
OMENRUP8_FTNFT_POOLED_SUPP    float64
OMAWDP6_PTNFT_POOLED_SUPP     float64
OMAWDP8_PTNFT_POOLED_SUPP     float64
OMENRYP8_PTNFT_POOLED_SUPP    float64
OMENRAP8_PTNFT_POOLED_SUPP    float64
OMENRUP8_PTNFT_POOLED_SUPP    float64
Length: 1899, dtype: object

In [18]:
data11_12_chosen_columns = data11_12.loc[:,needed_columns2]
data11_12_chosen_columns.columns

Index(['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'INSTURL', 'NPCURL',
       'REGION', 'LOCALE', 'LOCALE2', 'LATITUDE', 'LONGITUDE', 'HBCU', 'PBI',
       'ANNHI', 'TRIBAL', 'AANAPII', 'HSI', 'NANTI', 'MENONLY', 'WOMENONLY',
       'ADM_RATE', 'ACTCMMID', 'SAT_AVG', 'CURROPER', 'COSTT4_A', 'COSTT4_P',
       'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'TUITIONFEE_PROG', 'TUITFTE',
       'PFTFAC', 'PCTPELL', 'DEBT_MDN', 'FEMALE_DEBT_MDN', 'MALE_DEBT_MDN',
       'COUNT_ED', 'AGE_ENTRY', 'FEMALE', 'MARRIED', 'DEPENDENT', 'VETERAN',
       'FIRST_GEN', 'FAMINC', 'MD_FAMINC', 'MEDIAN_HH_INC', 'COUNT_NWNE_P6',
       'COUNT_WNE_P6', 'MN_EARN_WNE_P6', 'SD_EARN_WNE_P6', 'DEBT_MDN_SUPP',
       'GRAD_DEBT_MDN_SUPP', 'ICLEVEL', 'UGDS_MEN', 'UGDS_WOMEN'],
      dtype='object')

In [19]:
data10_11_chosen_columns = data10_11.loc[:,needed_columns2]
data10_11_chosen_columns.columns

Index(['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'INSTURL', 'NPCURL',
       'REGION', 'LOCALE', 'LOCALE2', 'LATITUDE', 'LONGITUDE', 'HBCU', 'PBI',
       'ANNHI', 'TRIBAL', 'AANAPII', 'HSI', 'NANTI', 'MENONLY', 'WOMENONLY',
       'ADM_RATE', 'ACTCMMID', 'SAT_AVG', 'CURROPER', 'COSTT4_A', 'COSTT4_P',
       'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'TUITIONFEE_PROG', 'TUITFTE',
       'PFTFAC', 'PCTPELL', 'DEBT_MDN', 'FEMALE_DEBT_MDN', 'MALE_DEBT_MDN',
       'COUNT_ED', 'AGE_ENTRY', 'FEMALE', 'MARRIED', 'DEPENDENT', 'VETERAN',
       'FIRST_GEN', 'FAMINC', 'MD_FAMINC', 'MEDIAN_HH_INC', 'COUNT_NWNE_P6',
       'COUNT_WNE_P6', 'MN_EARN_WNE_P6', 'SD_EARN_WNE_P6', 'DEBT_MDN_SUPP',
       'GRAD_DEBT_MDN_SUPP', 'ICLEVEL', 'UGDS_MEN', 'UGDS_WOMEN'],
      dtype='object')

In [20]:
data10_11_chosen_columns.isnull().sum()

UNITID                   0
INSTNM                   0
CITY                     0
STABBR                   0
ZIP                      0
INSTURL               7414
NPCURL                7414
REGION                   0
LOCALE                7414
LOCALE2               7414
LATITUDE              7414
LONGITUDE             7414
HBCU                  7414
PBI                   7414
ANNHI                 7414
TRIBAL                7414
AANAPII               7414
HSI                   7414
NANTI                 7414
MENONLY               7414
WOMENONLY             7414
ADM_RATE              5107
ACTCMMID              6083
SAT_AVG               5985
CURROPER              7414
COSTT4_A              3359
COSTT4_P              4991
TUITIONFEE_IN         3102
TUITIONFEE_OUT        3257
TUITIONFEE_PROG       4883
TUITFTE                331
PFTFAC                2867
PCTPELL                629
DEBT_MDN                76
FEMALE_DEBT_MDN         76
MALE_DEBT_MDN           76
COUNT_ED              7414
AGE_ENTRY              105
FEMALE                 105
MARRIED                105
DEPENDENT              105
VETERAN                105
FIRST_GEN              105
FAMINC                 105
MD_FAMINC              105
MEDIAN_HH_INC         7414
COUNT_NWNE_P6         7414
COUNT_WNE_P6          7414
MN_EARN_WNE_P6        7414
SD_EARN_WNE_P6        7414
DEBT_MDN_SUPP           76
GRAD_DEBT_MDN_SUPP      76
ICLEVEL                  0
UGDS_MEN               550
UGDS_WOMEN             550
dtype: int64

In [21]:
data11_12_chosen_columns.isnull().sum()

UNITID                   0
INSTNM                   0
CITY                     0
STABBR                   0
ZIP                      0
INSTURL               7675
NPCURL                7675
REGION                   1
LOCALE                7675
LOCALE2               7675
LATITUDE              7675
LONGITUDE             7675
HBCU                  7675
PBI                   7675
ANNHI                 7675
TRIBAL                7675
AANAPII               7675
HSI                   7675
NANTI                 7675
MENONLY               7675
WOMENONLY             7675
ADM_RATE              5328
ACTCMMID              6342
SAT_AVG               6253
CURROPER              7675
COSTT4_A              3520
COSTT4_P              5139
TUITIONFEE_IN         3254
TUITIONFEE_OUT        3423
TUITIONFEE_PROG       5032
TUITFTE                364
PFTFAC                3291
PCTPELL                677
DEBT_MDN                61
FEMALE_DEBT_MDN         61
MALE_DEBT_MDN           61
COUNT_ED              7675
AGE_ENTRY              112
FEMALE                 112
MARRIED                112
DEPENDENT              112
VETERAN                112
FIRST_GEN              112
FAMINC                 112
MD_FAMINC              112
MEDIAN_HH_INC         7675
COUNT_NWNE_P6          636
COUNT_WNE_P6           636
MN_EARN_WNE_P6         636
SD_EARN_WNE_P6         636
DEBT_MDN_SUPP           61
GRAD_DEBT_MDN_SUPP      61
ICLEVEL                  0
UGDS_MEN               623
UGDS_WOMEN             623
dtype: int64

In [22]:
len(data10_11_chosen_columns['INSTNM'].unique())

7288

In [23]:
len(data11_12_chosen_columns['INSTNM'].unique())

7522

In [24]:
len(data11_12_chosen_columns)

7675

In [25]:
data11_12_chosen_columns.to_excel("FinalData.xlsx")